nav {
    height: 200px;
    background-color: rgb(219, 218, 218);
}
ul {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(60, 63, 63);
    height: 30px;
    align-items: center;
    
}

li {
    list-style: none;
    color: rgb(199, 196, 196);
    margin-right: 10%;
}

#Nomsite {
    font-size: 1.2em;
}

#menu1 {
    background-color: rgb(231, 229, 225);
    color: rgb(126, 123, 123);
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top {
    background-color: rgb(204, 179, 129);
}

h2 {
    font-size: 1.3em;
    text-align: center;
    color: rgb(73, 72, 72);
}

span {
    font-size: 0.8em;
    color: rgb(73, 72, 72);
}

#articles {
    display: flex;
    justify-content: space-around;
    
}

article {
    background-color: rgb(219, 218, 218);
    height: 300px;
    width: 32.5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    border-top: 2px solid rgb(73, 72, 72);
}

#renseigne {
    width: 80%;
    margin-bottom: 15px;
    border: 1.5px solid rgb(73, 72, 72);
}

#deroulant{
    width: 80%;
    margin-bottom: 15px;
}

textarea {
    width: 80%;
    height: 150px;
}

#monselect {
    width: 80.7%;
    margin-bottom: 15px;
}